@media (min-width: 350px){
    *{
        padding: 0px;
        margin: 0px;
    }
    body{
        
        animation: color-change-2x 2s linear infinite alternate both;
    }
    
    @keyframes color-change-2x {
        0% {
          background: #19dcea;
        }
        100% {
          background: #b22cff;
        }
      }
      header {
        text-align: center;
    }
    header h1{
        text-align: center;
        font-family: 'Abyssinica SIL', serif;
        width: 300px;
        margin: auto;
        color: #fff;
        padding: 10px;
    }
    header nav{
        text-align: center;
       
        font-family: 'Lalezar', cursive;
    }
    header nav a{
        text-decoration: none;
        padding: 10px;
        font-size: 25px;
        color: #fff;
       
    }
    main article {
      display: block;
      margin-right: 50px;
      background-color: #fff;
      width: 300px;
      padding: 10px;
      border-radius: 5px;
      font-family: 'Lalezar', cursive;
      text-align: center;
      animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    @keyframes tracking-in-expand-fwd {
      0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        transform: translateZ(0);
        opacity: 1;
      }
    }
    main article div p {
      padding: 10px;
    } 
    
  
    }
    h3{
      text-align: center;
      color: #fff;
      font-family: 'Lalezar', cursive;
    }
    
  
  @media (min-width: 576px) { 
    *{
        padding: 0px;
        margin: 0px;
    }
    body{
        
        animation: color-change-2x 2s linear infinite alternate both;
    }
    
    @keyframes color-change-2x {
        0% {
          background: #19dcea;
        }
        100% {
          background: #b22cff;
        }
      }
      header {
        text-align: center;
    }
    header h1{
        text-align: center;
        font-family: 'Abyssinica SIL', serif;
        width: 300px;
        margin: auto;
        color: #fff;
        padding: 10px;
    }
    header nav{
        text-align: center;
       
        font-family: 'Lalezar', cursive;
    }
    header nav a{
        text-decoration: none;
        padding: 10px;
        font-size: 25px;
        color: #fff;
       
    }
    main article {
      display: block;
      margin-right: 150px;
      background-color: #fff;
      width: 300px;
      padding: 10px;
      border-radius: 5px;
      font-family: 'Lalezar', cursive;
      text-align: center;
      animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    @keyframes tracking-in-expand-fwd {
      0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        transform: translateZ(0);
        opacity: 1;
      }
    }
    main article div p {
      padding: 10px;
    } 
    
  
    }
    h3{
      text-align: center;
      color: #fff;
      font-family: 'Lalezar', cursive;
    }
    
  
  
  
  @media (min-width: 768px) { 
    *{
        padding: 0px;
        margin: 0px;
    }
    body{
        
        animation: color-change-2x 2s linear infinite alternate both;
    }
    
    @keyframes color-change-2x {
        0% {
          background: #19dcea;
        }
        100% {
          background: #b22cff;
        }
      }
      header {
        text-align: center;
    }
    header h1{
        text-align: center;
        font-family: 'Abyssinica SIL', serif;
        width: 300px;
        margin: auto;
        color: #fff;
        padding: 10px;
    }
    header nav{
        text-align: center;
       
        font-family: 'Lalezar', cursive;
    }
    header nav a{
        text-decoration: none;
        padding: 10px;
        font-size: 25px;
        color: #fff;
       
    }

    main article {
      display: block;
      margin-right: 50px;
      background-color: #fff;
      width: 300px;
      padding: 10px;
      border-radius: 5px;
      font-family: 'Lalezar', cursive;
      text-align: center;
      animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    @keyframes tracking-in-expand-fwd {
      0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        transform: translateZ(0);
        opacity: 1;
      }
    }
    main article div p {
      padding: 10px;
    } 
    
  
    }
    h3{
      text-align: center;
      color: #fff;
      font-family: 'Lalezar', cursive;
    }
  
  
  @media (min-width: 800px) {
    *{
        padding: 0px;
        margin: 0px;
    }
    body{
        
        animation: color-change-2x 2s linear infinite alternate both;
    }
    
    @keyframes color-change-2x {
        0% {
          background: #19dcea;
        }
        100% {
          background: #b22cff;
        }
      }
      header {
        text-align: center;
    }
    header h1{
        text-align: center;
        font-family: 'Abyssinica SIL', serif;
        width: 300px;
        margin: auto;
        color: #fff;
        padding: 10px;
    }
    header nav{
        text-align: center;
       
        font-family: 'Lalezar', cursive;
    }
    header nav a{
        text-decoration: none;
        padding: 10px;
        font-size: 25px;
        color: #fff;
       
    }
    main article {
      display: block;
      margin-right: 100px;
      background-color: #fff;
      width: 500px;
      padding: 10px;
      border-radius: 5px;
      font-family: 'Lalezar', cursive;
      text-align: center;
      animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    @keyframes tracking-in-expand-fwd {
      0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        transform: translateZ(0);
        opacity: 1;
      }
    }
    main article div p {
      padding: 10px;
    } 
    
  
    }
    h3{
      text-align: center;
      color: #fff;
      font-family: 'Lalezar', cursive;
    }
    
  
  @media (min-width: 992px) { 
    *{
        padding: 0px;
        margin: 0px;
    }
    body{
        
        animation: color-change-2x 2s linear infinite alternate both;
    }
    
    @keyframes color-change-2x {
        0% {
          background: #19dcea;
        }
        100% {
          background: #b22cff;
        }
      }
      header {
        text-align: center;
    }
    header h1{
        text-align: center;
        font-family: 'Abyssinica SIL', serif;
        width: 300px;
        margin: auto;
        color: #fff;
        padding: 10px;
    }
    header nav{
        text-align: center;
       
        font-family: 'Lalezar', cursive;
    }
    header nav a{
        text-decoration: none;
        padding: 10px;
        font-size: 25px;
        color: #fff;
       
    }

    main article {
      display: block;
      margin-right: 300px;
      background-color: #fff;
      width: 500px;
      padding: 10px;
      border-radius: 5px;
      font-family: 'Lalezar', cursive;
      text-align: center;
      animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    @keyframes tracking-in-expand-fwd {
      0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        transform: translateZ(0);
        opacity: 1;
      }
    }
    main article div p {
      padding: 10px;
    } 
    
  
    }
    h3{
      text-align: center;
      color: #fff;
      font-family: 'Lalezar', cursive;
    }
    
  
  
  
  @media (min-width: 1200px) { 
    *{
        padding: 0px;
        margin: 0px;
    }
    body{
        
        animation: color-change-2x 2s linear infinite alternate both;
    }
    
    @keyframes color-change-2x {
        0% {
          background: #19dcea;
        }
        100% {
          background: #b22cff;
        }
      }
      
    header h1{
        font-family: 'Abyssinica SIL', serif;
        width: 300px;
        margin: 0px;
        height: 0px;
        color: #fff;
        padding: 10px;
    }
    header nav{
        text-align: end;
        margin-bottom: 50px;
        margin-left: 500px;
        font-family: 'Lalezar', cursive;
    }
    header nav a{
        text-decoration: none;
        padding: 10px;
        font-size: 25px;
        color: #fff;
       
    }

    main article {
      display: flex;
      margin-right: 300px;
      background-color: #fff;
      width: 800px;
      padding: 10px;
      border-radius: 5px;
      font-family: 'Lalezar', cursive;
      text-align: center;
      animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    @keyframes tracking-in-expand-fwd {
      0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        transform: translateZ(0);
        opacity: 1;
      }
    }
    main article div p {
      padding: 10px;
    } 
    
  
    }
    h3{
      text-align: center;
      color: #fff;
      font-family: 'Lalezar', cursive;
    }
    
    
  
  
